.carousel {
    text-align: center;
    height: 100%;
    &__btn {
        background-color: transparent;
        border: none;
        position: absolute;
        bottom: 0;
    }
    &__img {
        height: 70vh;
    }
}
.left {
    transform: rotate(180deg);
}
.right {
    right: 0;
}