.printDesign {
    background-color: $printDesignColor;
    &__page {
        opacity: 0;
        align-self: flex-start;
        padding: 5% 0 0 2%;
        gap: 50px;
        display: flex;
        align-items: center;
        z-index: 1;
    }
    &__title {
        font-size: 49px;
    }
    &__number {
        position: relative;
        font-size: 75px;
        &::after {
            content: "";
            top: -150%;
            left: 130%;
            position: absolute;
            background-color: black;
            width: 4px;
            height: 220px;
        }
    }
    &__slider {
        padding: 5% 0 0 0;
    }
    &__img {
        height: 80vh;
        left: 0;
        right: 0;
        margin: auto;
    }
    &__arrow {
        margin: 0 10% 5% 0;
        align-self: flex-end;
        height: 5%;
    }
}