$landingColor: #A7B4A8;
$descriptionColor: #BDBEAD;
$printDesignColor:#6A8977;
$projectEspeletColor:#DCDCDB;
$capsuleCollection:#BDB2A8;
$tradiList: #D5E2DB;
$bretonVedrenne:#EBE7E4;
$anneLiseLogo:#BBBCAA;

