@import 'vendors/reset';
@import 'config/index';
@import 'common/index';
@import 'blocs/index';

body {
    font-family: Ginger;
    overflow-x: hidden;

    & > *{
        height: 100vh;
    }
}

.mainContent {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.appear {
    transition: 2s;
    opacity: 1;
}
